@import '../../common/styles/mixins';

.portrait {
  @include xs {
    background-size: 600px 230px;
    height: 44px;
    width: 44px;
  }

  background-image: url('../assets/images/avatars/portraits.png');
  background-repeat: no-repeat;
  background-size: 450px 173px;
  height: 33px;
  width: 33px;

  &.luigi {
    @include xs {
      background-position: -47px -1px;
    }

    background-position: -36px -1px;
  }

  &.mario {
    @include xs {
      background-position: -1px -1px;
    }

    background-position: -1px -1px;
  }

  &.yoshi {
    @include xs {
      background-position: -324px -1px;
    }

    background-position: -243px -1px;
  }

  &.peach {
    @include xs {
      background-position: -93px -1px;
    }

    background-position: -70px -1px;
  }

  &.bowser {
    @include xs {
      background-position: -93px -139px;
    }

    background-position: -70px -105px;
  }

  &.toad {
    @include xs {
      background-position: -139px -47px;
    }

    background-position: -105px -36px;
  }

  &.koopa {
    @include xs {
      background-position: -186px -47px;
    }

    background-position: -139px -36px;
  }

  &.wario {
    @include xs {
      background-position: -555px -93px;
    }

    background-position: -416px -70px;
  }

  &.rosalina {
    @include xs {
      background-position: -186px -1px;
    }

    background-position: -139px -1px;
  }

  &.morton-koopa-jr {
    @include xs {
      background-position: -555px -139px;
    }

    background-position: -416px -105px;
  }

  &.lakitu {
    @include xs {
      background-position: -47px -93px;
    }

    background-position: -36px -70px;
  }

  &.shy-guy {
    @include xs {
      background-position: -231px -47px;
    }

    background-position: -174px -36px;
  }

  &.toadette {
    @include xs {
      background-position: -93px -93px;
    }

    background-position: -70px -70px;
  }

  &.daisy {
    @include xs {
      background-position: -139px -1px;
    }

    background-position: -105px -1px;
  }

  &.ludwig-von-koopa {
    @include xs {
      background-position: -416px -140px;
    }

    background-position: -312px -105px;
  }

  &.donkey-kong {
    @include xs {
      background-position: -47px -140px;
    }

    background-position: -36px -105px;
  }

  &.lemmy-koopa {
    @include xs {
      background-position: -278px -140px;
    }

    background-position: -209px -105px;
  }

  &.waluigi {
    @include xs {
      background-position: -1px -140px;
    }

    background-position: -1px -105px;
  }

  &.wendy-o-koopa {
    @include xs {
      background-position: -370px -140px;
    }

    background-position: -278px -105px;
  }

  &.larry-koopa {
    @include xs {
      background-position: -324px -140px;
    }

    background-position: -243px -105px;
  }

  &.iggy-koopa {
    @include xs {
      background-position: -462px -140px;
    }

    background-position: -347px -105px;
  }

  &.isabelle {
    @include xs {
      background-position: -416px -186px;
    }

    background-position: -312px -139px;
  }

  &.roy-koopa {
    @include xs {
      background-position: -508px -140px;
    }

    background-position: -381px -105px;
  }

  &.link {
    @include xs {
      background-position: -278px -186px;
    }

    background-position: -209px -139px;
  }

  &.inkling-girl {
    @include xs {
      background-position: -1px -186px;
    }

    background-position: -1px -139px;
  }
}

.car {
  @include xs {
    background-size: 200px 200px;
    height: 40px;
    width: 40px;
  }

  background-image: url('../assets/images/avatars/cars.png');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  height: 20px;
  width: 20px;

  &.luigi {
    @include xs {
      background-position: -160px 0;
    }

    background-position: -80px 0;
  }

  &.mario {
    @include xs {
      background-position: -120px 0;
    }

    background-position: -60px 0;
  }

  &.yoshi {
    @include xs {
      background-position: -80px 0;
    }

    background-position: -40px 0;
  }

  &.peach {
    @include xs {
      background-position: -40px 0;
    }

    background-position: -20px 0;
  }

  &.bowser {
    @include xs {
      background-position: 0 0;
    }

    background-position: 0 0;
  }

  &.toad {
    @include xs {
      background-position: -160px -40px;
    }

    background-position: -80px -20px;
  }

  &.koopa {
    @include xs {
      background-position: -120px -40px;
    }

    background-position: -60px -20px;
  }

  &.wario {
    @include xs {
      background-position: -80px -40px;
    }

    background-position: -40px -20px;
  }

  &.rosalina {
    @include xs {
      background-position: -40px -40px;
    }

    background-position: -20px -20px;
  }

  &.morton-koopa-jr {
    @include xs {
      background-position: 0 -40px;
    }

    background-position: 0 -20px;
  }

  &.lakitu {
    @include xs {
      background-position: -160px -80px;
    }

    background-position: -80px -40px;
  }

  &.shy-guy {
    @include xs {
      background-position: -120px -80px;
    }

    background-position: -60px -40px;
  }

  &.toadette {
    @include xs {
      background-position: -80px -80px;
    }

    background-position: -40px -40px;
  }

  &.daisy {
    @include xs {
      background-position: -40px -80px;
    }

    background-position: -20px -40px;
  }

  &.ludwig-von-koopa {
    @include xs {
      background-position: 0 -80px;
    }

    background-position: 0 -40px;
  }

  &.donkey-kong {
    @include xs {
      background-position: -160px -120px;
    }

    background-position: -80px -60px;
  }

  &.lemmy-koopa {
    @include xs {
      background-position: -120px -120px;
    }

    background-position: -60px -60px;
  }

  &.waluigi {
    @include xs {
      background-position: -80px -120px;
    }

    background-position: -40px -60px;
  }

  &.wendy-o-koopa {
    @include xs {
      background-position: -40px -120px;
    }

    background-position: -20px -60px;
  }

  &.larry-koopa {
    @include xs {
      background-position: 0 -120px;
    }

    background-position: 0 -60px;
  }

  &.iggy-koopa {
    @include xs {
      background-position: -160px -160px;
    }

    background-position: -80px -80px;
  }

  &.isabelle {
    @include xs {
      background-position: -120px -160px;
    }

    background-position: -60px -80px;
  }

  &.roy-koopa {
    @include xs {
      background-position: -80px -160px;
    }

    background-position: -40px -80px;
  }

  &.link {
    @include xs {
      background-position: -40px -160px;
    }

    background-position: -20px -80px;
  }

  &.inkling-girl {
    @include xs {
      background-position: 0 -160px;
    }

    background-position: 0 -80px;
  }
}
