@font-face {
  font-family: 'Caracteres_L1';
  src: url('../assets/fonts/Caracteres_L1.ttf');
}

@font-face {
  font-family: 'Caracteres_L2';
  src: url('../assets/fonts/Caracteres_L2.ttf');
}

@font-face {
  font-family: 'Caracteres_L4';
  src: url('../assets/fonts/Caracteres_L4.ttf');
}
