@mixin xxs {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

@mixin xs {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

@mixin sm {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
