@import '../../common/styles/mixins';

$app-bg-color: #179eca;
$app-bg-color2: #337ab7;
$app-bg-color3: #f5f5f5;
$app-title-txt-color: #fff;
$app-txt-color: #337ab7;
$app-notice-color: #000;
$btn-icon-txt-color: #2e6da4;
$avatar-hover-color: #179eca;
$avatar-selected-color: #fca326;
$board-color: #c2e9c2;
$progress-bar-color: #fca326;
$progress-bar-txt-color: #fff;
$card-back-color: #fff;
$card-zone-border-color: #000;
$card-txt-color1: #fff;
$card-txt-color2: #000;
$card-txt-color3: #c2e9c2;
$player-active-color: #f9ce93;
$player-allow-coup-fourre-color: #fbf;
$loader-color: #179eca;
$border-blink-color: #f00;
$trophy-color: #fdc526;
$winner-color: #f00;
$loose-color: #f00;
$countdown-color: #f00;
$coup-fourre-msg-color: #f00;
$player-name-bg-color: #fff;
$player-name-border-color: #f00;
$online-players-color: #337ab7;
$rules-title-bg-color: #337ab7;
$rules-title-color: #fff;

.container-fluid {
  @include xs {
    padding-left: 5px;
    padding-right: 5px;
  }
  @include sm {
    padding-left: 10px;
    padding-right: 10px;
  }
  padding-left: 3px;
  padding-right: 3px;
}

.row {
  margin-left: 0;
  margin-right: 0;

  [class*='col-'] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.well {
  @include xs {
    margin-bottom: 5px;
    padding: 5px;
  }
  @include sm {
    margin-bottom: 10px;
    padding: 10px;
  }

  margin-bottom: 3px;
  padding: 1px;
}
