@import 'common/styles/vars';
@import 'common/styles/mixins';
@import 'common/styles/fonts';
@import 'common/styles/avatars';

* {
  margin: 0;
  padding: 0;
}

.ie8lower {
  @include xs {
    font-size: 14px;
  }
  background-color: $app-bg-color;
  font-size: 10px;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;

  a {
    color: $app-notice-color;
    position: relative;
    top: 20%;
  }
}

body {
  @include xs {
    font-size: 14px;
  }
  background: $app-bg-color;
  font-size: 12px;
}

header {
  @include xs {
    padding: 5px 0;
  }
  background: $app-bg-color2;
  color: $app-title-txt-color;
  padding: 3px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .row {
    align-items: center;
    display: flex;

    h1 {
      @include xs {
        font-size: 36px;
      }
      font-family: 'Caracteres_L2', Arial, sans-serif;
      font-size: 26px;
      margin: 0;
    }

    .home {
      img {
        @include xs {
          height: 50px;
          width: 37px;
        }
        height: 32px;
        width: 24px;
      }
    }

    .gitlab {
      img {
        @include xs {
          height: 44px;
          width: 48px;
        }
        height: 30px;
        width: 32px;
      }
    }
  }
}

main {
  @include xs {
    margin-top: 90px;
  }
  margin-top: 45px;
  opacity: 1;
  transition: opacity 1s ease, transform 1s ease;

  &.ng-enter {
    opacity: 0;
    transform: scale(0.95) translate3d(0, 0.5em, 0);
  }

  &.ng-enter-active {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }

  &.ng-leave {
    opacity: 1;
  }

  &.ng-leave-active {
    opacity: 0;
  }
}

footer {
  @include xs {
    padding: 10px;
  }
  background: $app-bg-color3;
  color: $app-txt-color;
  font-weight: bold;
  padding: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
}
