<div class="modal-header">
  <h4 class="modal-title" ng-bind="title"></h4>
</div>
<div class="modal-body" ng-bind-html="message"></div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modal.close()">OK</button>
</div>