@import '../../common/styles/vars';

.modal-dialog {
  .modal-content {
    overflow: hidden;

    .modal-header {
      background: $app-bg-color2;
      color: $app-title-txt-color;

      .modal-title {
        font-family: 'Caracteres_L2', Arial, sans-serif;
        font-size: 28px;
        text-align: center;
      }
    }

    .modal-body {
      font-family: 'Caracteres_L4', Arial, sans-serif;
      font-size: 20px;
      text-align: center;

      .trophy {
        display: inline-block;
        height: 90px;
        margin-bottom: 15px;
        width: 102px;

        .fa-trophy {
          color: $trophy-color;
          font-size: 90px;
        }

        .portrait {
          left: 28px;
          top: 5px;
        }
      }

      .loose {
        display: inline-block;
        height: 90px;
        margin-bottom: 15px;
        width: 102px;

        .fa-thumbs-down {
          color: $loose-color;
          font-size: 90px;
        }

        .portrait {
          left: 40px;
          top: 10px;
        }
      }

      .winner {
        color: $winner-color;
      }

      .card {
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 80px 110px;
        display: inline-block;
        height: 110px;
        margin-bottom: 15px;
        width: 80px;

        &.km25 {
          background-image: url('../../../assets/images/card_deck/MB-25.svg');
        }

        &.km50 {
          background-image: url('../../../assets/images/card_deck/MB-50.svg');
        }

        &.km75 {
          background-image: url('../../../assets/images/card_deck/MB-75.svg');
        }

        &.km100 {
          background-image: url('../../../assets/images/card_deck/MB-100.svg');
        }

        &.km200 {
          background-image: url('../../../assets/images/card_deck/MB-200.svg');
        }

        &.ace {
          background-image: url('../../../assets/images/card_deck/MB-ace.svg');
        }

        &.crash {
          background-image: url('../../../assets/images/card_deck/MB-crash.svg');
        }

        &.emergency {
          background-image: url('../../../assets/images/card_deck/MB-emergency.svg');
        }

        &.empty {
          background-image: url('../../../assets/images/card_deck/MB-empty.svg');
        }

        &.flat {
          background-image: url('../../../assets/images/card_deck/MB-flat.svg');
        }

        &.gas {
          background-image: url('../../../assets/images/card_deck/MB-gas.svg');
        }

        &.limit {
          background-image: url('../../../assets/images/card_deck/MB-limit.svg');
        }

        &.repair {
          background-image: url('../../../assets/images/card_deck/MB-repair.svg');
        }

        &.roll {
          background-image: url('../../../assets/images/card_deck/MB-roll.svg');
        }

        &.sealant {
          background-image: url('../../../assets/images/card_deck/MB-sealant.svg');
        }

        &.spare {
          background-image: url('../../../assets/images/card_deck/MB-spare.svg');
        }

        &.stop {
          background-image: url('../../../assets/images/card_deck/MB-stop.svg');
        }

        &.tanker {
          background-image: url('../../../assets/images/card_deck/MB-tanker.svg');
        }

        &.unlimited {
          background-image: url('../../../assets/images/card_deck/MB-unlimited.svg');
        }
      }
    }

    .modal-footer {
      font-family: 'Caracteres_L2', Arial, sans-serif;
      font-size: 20px;
      text-align: center;
    }
  }
}
