<div class="scores row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 well well-sm">
    <h3>Scores (
      <i class="fas fa-stopwatch"></i> {{ $ctrl.gameDuration | amUtc | amDateFormat:'HH:mm:ss' }} )</h3>
    <uib-progressbar ng-repeat="player in $ctrl.game.players" max="1000" value="player.score">
      <span class="score">{{player.score}}</span>
      <span class="current car {{player.avatar}}"></span>
    </uib-progressbar>
  </div>
</div>
<ul class="players" ng-if="$ctrl.game.active">
  <li id="{{player._id}}" ng-repeat="player in $ctrl.game.players" class="player row text-center ng-class:{ 'active': $ctrl.game.started && (($ctrl.playerId !== player._id && player.turn) || ($ctrl.playerId === player._id && player.turn && !player.allowCoupFourre)), 'allow-coup-fourre': $ctrl.playerId === player._id && player.allowCoupFourre }">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="row well well-sm player-container">
        <div class="col-xs-2 col-sm-2">
          <div class="info">
            <div class="avatar">
              <div>Joueur {{player.number}}</div>
              <div class="portrait {{player.avatar}}"></div>
              <div>{{player.name}}</div>
            </div>
            <div>{{player.score}} borne{{player.score > 1 ? 's' : ''}}</div>
            <div class="countdown" ng-show="$ctrl.game.started && player.turn && $ctrl.countDown">
              <i class="fas fa-stopwatch"></i>{{$ctrl.countDown}}s</div>
            <div class="coup-fourre-msg" ng-if="$ctrl.playerId === player._id && player.allowCoupFourre">Coup-Fourré ?</div>
          </div>
        </div>
        <div class="col-xs-10 col-sm-10">
          <div class="board">
            <div class="row">
              <div class="col-xs-7 col-sm-7">
                <div class="card-group distance">
                  <h3>Bornes</h3>
                  <ul class="card-list valign-top" dnd-list="player.cards.km25" dnd-disable-if="!$ctrl.game.started || $ctrl.playerId !== player._id || !player.turn || player.turn && player.allowCoupFourre || $ctrl.mustPickCard(player)"
                    dnd-allowed-types="['card-km25']" dnd-drop="$ctrl.dropDistance(item, index, type, $ctrl.getCurrentPlayer())">
                    <li class="card-container" ng-hide="player.cards.km25.length">
                      <div class="card placeholder">
                        <span class="fa-stack">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <strong class="fa-stack-1x">
                            25
                          </strong>
                        </span>
                      </div>
                    </li>
                    <li class="card-container stacked" ng-repeat="card in player.cards.km25 track by $index">
                      <div id="{{card.id}}" class="card {{card.type}}"></div>
                    </li>
                  </ul>
                  <ul class="card-list valign-top" dnd-list="player.cards.km50" dnd-disable-if="!$ctrl.game.started || $ctrl.playerId !== player._id || !player.turn || player.turn && player.allowCoupFourre || $ctrl.mustPickCard(player)"
                    dnd-allowed-types="['card-km50']" dnd-drop="$ctrl.dropDistance(item, index, type, $ctrl.getCurrentPlayer())">
                    <li class="card-container" ng-hide="player.cards.km50.length">
                      <div class="card placeholder">
                        <span class="fa-stack">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <strong class="fa-stack-1x">
                            50
                          </strong>
                        </span>
                      </div>
                    </li>
                    <li class="card-container stacked" ng-repeat="card in player.cards.km50 track by $index">
                      <div id="{{card.id}}" class="card {{card.type}}"></div>
                    </li>
                  </ul>
                  <ul class="card-list valign-top" dnd-list="player.cards.km75" dnd-disable-if="!$ctrl.game.started || $ctrl.playerId !== player._id || !player.turn || player.turn && player.allowCoupFourre || $ctrl.mustPickCard(player)"
                    dnd-allowed-types="['card-km75']" dnd-drop="$ctrl.dropDistance(item, index, type, $ctrl.getCurrentPlayer())">
                    <li class="card-container" ng-hide="player.cards.km75.length">
                      <div class="card placeholder">
                        <span class="fa-stack">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <strong class="fa-stack-1x">
                            75
                          </strong>
                        </span>
                      </div>
                    </li>
                    <li class="card-container stacked" ng-repeat="card in player.cards.km75 track by $index">
                      <div id="{{card.id}}" class="card {{card.type}}"></div>
                    </li>
                  </ul>
                  <ul class="card-list valign-top" dnd-list="player.cards.km100" dnd-disable-if="!$ctrl.game.started || $ctrl.playerId !== player._id || !player.turn || player.turn && player.allowCoupFourre || $ctrl.mustPickCard(player)"
                    dnd-allowed-types="['card-km100']" dnd-drop="$ctrl.dropDistance(item, index, type, $ctrl.getCurrentPlayer())">
                    <li class="card-container" ng-hide="player.cards.km100.length">
                      <div class="card placeholder">
                        <span class="fa-stack">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <strong class="fa-stack-1x">
                            100
                          </strong>
                        </span>
                      </div>
                    </li>
                    <li class="card-container stacked" ng-repeat="card in player.cards.km100 track by $index">
                      <div id="{{card.id}}" class="card {{card.type}}"></div>
                    </li>
                  </ul>
                  <ul class="card-list valign-top" dnd-list="player.cards.km200" dnd-disable-if="!$ctrl.game.started || $ctrl.playerId !== player._id || !player.turn || player.turn && player.allowCoupFourre || $ctrl.mustPickCard(player)"
                    dnd-allowed-types="['card-km200']" dnd-drop="$ctrl.dropDistance(item, index, type, $ctrl.getCurrentPlayer())">
                    <li class="card-container" ng-hide="player.cards.km200.length">
                      <div class="card placeholder">
                        <span class="fa-stack">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <strong class="fa-stack-1x">
                            200
                          </strong>
                        </span>
                      </div>
                    </li>
                    <li class="card-container stacked" ng-repeat="card in player.cards.km200 track by $index">
                      <div id="{{card.id}}" class="card {{card.type}}"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-5 col-sm-5">
                <div class="card-group safety">
                  <h3>Bottes</h3>
                  <ul class="card-list" dnd-list="player.cards.safety" dnd-disable-if="!$ctrl.game.started || $ctrl.playerId !== player._id || !player.turn && !player.allowCoupFourre || $ctrl.mustPickCard(player)"
                    dnd-drop="$ctrl.dropSafety(item, index, type, $ctrl.getCurrentPlayer())" dnd-allowed-types="['card-ace', 'card-emergency', 'card-sealant', 'card-tanker']">
                    <li class="card-container" ng-repeat="card in player.cards.safety track by $index">
                      <div ng-if="card.type" id="{{card.id}}" class="card {{card.type}}"></div>
                      <div ng-if="!card.type" class="card placeholder">
                        <i class="far fa-star"></i>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7 col-sm-7">
                <div class="card-group hand">
                  <h3>Jeu</h3>
                  <ul class="card-list" dnd-list="player.cards.hand" dnd-disable-if="!$ctrl.game.started || $ctrl.playerId !== player._id || !player.turn"
                    dnd-allowed-types="['card-back']" dnd-horizontal-list="true" dnd-drop="$ctrl.drawCard(player)">
                    <li class="card-container" ng-if="$ctrl.playerId === player._id" ng-repeat="card in player.cards.hand track by $index" dnd-draggable="card"
                      dnd-type="'card-{{card.type}}'" dnd-effect-allowed="move" dnd-moved="$ctrl.movedCallback(event, $index, player)"
                      uib-tooltip="{{card.label}}">
                      <div id="{{card.id}}" class="card {{card.type}} ng-class:{ highlight: player.allowCoupFourre && player.allowCoupFourre.safety === card.type }"></div>
                    </li>
                    <li class="card-container" ng-if="$ctrl.playerId !== player._id" class="card back" ng-repeat="card in player.cards.hand track by $index">
                      <div class="card back"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-5 col-sm-5">
                <div class="card-group draw" ng-show="$ctrl.deck.remaining() > 0 && $ctrl.playerId === player._id">
                  <h3>Pioche</h3>
                  <ul class="card-list">
                    <li class="card-container" ng-if="$ctrl.playerId === player._id" dnd-draggable="card-back" dnd-type="'card-back'" dnd-effect-allowed="move"
                      uib-tooltip="{{ $ctrl.mustPickCard(player) || player.turn && player.allowCoupFourre ? 'Glissez une carte dans votre jeu' : null }}">
                      <div class="card back ng-class:{ pick: $ctrl.mustPickCard(player) || player.turn && player.allowCoupFourre }">
                        <span class="remaining">{{ $ctrl.deck.remaining() }}</span>
                      </div>
                    </li>
                    <li class="card-container" ng-if="$ctrl.playerId !== player._id">
                      <div class="card back"></div>
                    </li>
                  </ul>
                </div>
                <div class="card-group discard">
                  <h3>Défausse</h3>
                  <ul class="card-list" dnd-list="player.cards.discarded" dnd-disable-if="!$ctrl.game.started || $ctrl.playerId !== player._id
                        || !player.turn || player.turn && player.allowCoupFourre || $ctrl.mustPickCard(player)" dnd-allowed-types="$ctrl.allowedCardTypes"
                    dnd-horizontal-list="true">
                    <li class="card-container" ng-hide="player.cards.discarded.length">
                      <div class="card placeholder">
                        <i class="fa fa-trash-alt"></i>
                      </div>
                    </li>
                    <li class="card-container overlap" ng-repeat="card in player.cards.discarded track by $index">
                      <div id="{{card.id}}" class="card {{card.type}}"></div>
                    </li>
                  </ul>
                </div>
                <div class="card-group speed">
                  <h3>Vitesse</h3>
                  <ul class="card-list" dnd-list="player.cards.speed" dnd-disable-if="!$ctrl.getCurrentPlayer().turn || $ctrl.getCurrentPlayer().turn && $ctrl.getCurrentPlayer().allowCoupFourre || $ctrl.mustPickCard($ctrl.getCurrentPlayer())"
                    dnd-allowed-types="[ 'card-limit', 'card-unlimited']" dnd-drop="$ctrl.dropSpeed(item, index, type, $ctrl.getCurrentPlayer(), player)">
                    <li class="card-container" ng-hide="player.cards.speed.length">
                      <div class="card placeholder">
                        <i class="fa fa-tachometer-alt"></i>
                      </div>
                    </li>
                    <li class="card-container overlap" ng-repeat="card in player.cards.speed track by $index">
                      <div id="{{card.id}}" class="card {{card.type}}"></div>
                    </li>
                  </ul>
                </div>
                <div class="card-group battle">
                  <h3>Bataille</h3>
                  <ul class="card-list" dnd-list="player.cards.battle" dnd-disable-if="!$ctrl.getCurrentPlayer().turn || $ctrl.getCurrentPlayer().turn && $ctrl.getCurrentPlayer().allowCoupFourre || $ctrl.mustPickCard($ctrl.getCurrentPlayer())"
                    dnd-allowed-types="[ 'card-crash', 'card-repair', 'card-empty', 'card-gas', 'card-flat',
                        'card-spare', 'card-stop', 'card-roll']" dnd-drop="$ctrl.dropBattle(item, index, type, $ctrl.getCurrentPlayer(), player)">
                    <li class="card-container" ng-hide="player.cards.battle.length">
                      <div class="card placeholder">
                        <i class="fa fa-bolt"></i>
                      </div>
                    </li>
                    <li class="card-container overlap" ng-repeat="card in player.cards.battle track by $index">
                      <div id="{{card.id}}" class="card {{card.type}}"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="waiting row text-center" ng-if="!$ctrl.game.started">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 well well-sm">
    <span>En attente d'autres joueurs</span>
  </div>
</div>