@import '../../common/styles/vars';
@import '../../common/styles/mixins';

.player {
  &.active {
    .player-container {
      background-color: $player-active-color;
    }
  }

  &.allow-coup-fourre {
    .player-container {
      background-color: $player-allow-coup-fourre-color;
    }
  }

  &.row {
    @include xs {
      margin: 5px auto;
    }
    margin: 2px auto;
  }
}

.waiting {
  span {
    @include xs {
      background-size: 40px 10px;
      padding-right: 50px;
    }
    background: transparent url('../../../assets/images/loader.svg') no-repeat
      right center / 20px 5px;
    color: $loader-color;
    display: inline-block;
    font-weight: bold;
    padding-right: 25px;
  }
}

.scores {
  h3 {
    @include xs {
      font-size: 14px;
      margin: 0 0 25px;
    }
    font-size: 10px;
    font-weight: bold;
    margin: 0 0 15px;
    text-align: center;
  }

  .progress {
    @include xs {
      height: 20px;
      margin: 0 20px 20px;
    }
    height: 10px;
    margin: 0 10px 10px;
    overflow: visible;

    &:last-child {
      margin-bottom: 0;
    }

    .progress-bar {
      @include xs {
        font-size: inherit;
        height: inherit;
        line-height: inherit;
      }
      background-color: $progress-bar-color;
      border-radius: inherit;
      font-size: 10px;
      line-height: 10px;

      .score {
        color: $progress-bar-txt-color;
        font-weight: bold;
        position: absolute;
      }

      .current {
        @include xs {
          left: 20px;
          top: -20px;
        }
        display: block;
        float: right;
        left: 10px;
        position: relative;
        top: -10px;
      }
    }
  }
}

.info {
  @include xs {
    font-size: 14px;
  }
  font-size: 10px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .avatar {
    .portrait {
      display: inline-block;
    }
  }

  .countdown {
    color: $countdown-color;
  }

  .coup-fourre-msg {
    color: $coup-fourre-msg-color;
  }
}

.player-container {
  align-items: center;
  display: flex;
}

.board {
  @include xs {
    border-radius: 4px;
    padding: 5px;
  }
  background: $board-color;
  border-radius: 2px;
  padding: 1px;

  .card-group {
    @include xs {
      margin-bottom: 5px;
    }
    display: inline-block;
    margin-bottom: 1px;

    h3 {
      @include xs {
        font-size: 9px;
      }
      font-size: 6px;
      font-weight: bold;
      margin: 0 0 2px 0;
    }

    &.distance {
      @include xs {
        height: 112px;
      }

      height: 56px;
    }

    &.hand {
      width: 100%;

      .card-list {
        width: 100%;

        .dndDraggingSource {
          visibility: hidden;
        }

        .card-container {
          display: inline-block;
          margin: 0 2px;

          .highlight {
            @keyframes blink {
              50% {
                border-color: $border-blink-color;
              }
            }

            animation: blink 0.5s step-end infinite alternate;
            background-position: -2px -2px;
            border: 2px solid transparent;
            border-radius: 4px;
          }
        }
      }
    }

    &.draw {
      .card-container {
        .pick {
          @keyframes blink {
            50% {
              border-color: $border-blink-color;
            }
          }
          animation: blink 0.5s step-end infinite alternate;
        }
      }
    }

    &.safety {
      .card-container {
        display: inline-block;
        margin: 0 2px;
      }
    }

    .card-list {
      display: inline-block;
      margin: 0;

      &.valign-top {
        vertical-align: top;
      }

      .dndPlaceholder {
        display: none;
      }

      .card-container {
        &.stacked {
          @include xs {
            height: 5px;
          }
          height: 2px;
          position: relative;
          z-index: 0;
        }

        &.overlap {
          height: 0;
          position: relative;
          z-index: 0;
        }

        .card {
          @include xs {
            background-size: 40px 55px;
            height: 55px;
            width: 40px;
          }
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: 20px 27px;
          cursor: move;
          cursor: grab;
          display: inline-block;
          height: 27px;
          vertical-align: middle;
          width: 20px;

          &:active {
            cursor: grabbing;
          }

          &.back {
            @include xs {
              background-size: 38px 53px;
              border: 2px solid $card-back-color;
              height: 53px;
              width: 38px;
            }
            background-color: $card-back-color;
            background-image: url('../../../assets/images/card_deck/back.svg');
            background-position: -1px -1px;
            background-size: 19px 26px;
            border: 1px solid $card-back-color;
            border-radius: 2px;
            height: 26px;
            width: 19px;

            .remaining {
              @include xs {
                font-size: 18px;
                top: 11px;
              }

              color: $card-txt-color2;
              font-size: 9px;
              font-weight: bold;
              position: relative;
              text-shadow: -2px 0 $card-txt-color1, 0 2px $card-txt-color1,
                2px 0 $card-txt-color1, 0 -2px $card-txt-color1;
              top: 3px;
            }
          }

          &.placeholder {
            @include xs {
              height: 53px;
              width: 38px;
            }

            background: none;
            border: 1px solid $card-zone-border-color;
            border-radius: 2px;
            cursor: auto;
            height: 26px;
            width: 19px;

            .fa-star {
              @include xs {
                font-size: 14px;
                top: 16px;
              }
              font-size: 7px;
              position: relative;
              top: 2px;
            }

            .fa-trash-alt {
              @include xs {
                font-size: 20px;
                top: 15px;
              }
              font-size: 10px;
              position: relative;
              top: 3px;
            }

            .fa-bolt {
              @include xs {
                font-size: 20px;
                top: 15px;
              }
              font-size: 10px;
              position: relative;
              top: 3px;
            }

            .fa-tachometer-alt {
              @include xs {
                font-size: 20px;
                top: 15px;
              }
              font-size: 10px;
              position: relative;
              top: 3px;
            }

            .fa-stack {
              @include xs {
                font-size: 12px;
                top: 14px;
              }
              color: $card-txt-color3;
              font-size: 6px;
              top: 2px;
            }

            .fa-circle {
              color: $card-txt-color2;
            }
          }

          &.km25 {
            background-image: url('../../../assets/images/card_deck/MB-25.svg');
          }

          &.km50 {
            background-image: url('../../../assets/images/card_deck/MB-50.svg');
          }

          &.km75 {
            background-image: url('../../../assets/images/card_deck/MB-75.svg');
          }

          &.km100 {
            background-image: url('../../../assets/images/card_deck/MB-100.svg');
          }

          &.km200 {
            background-image: url('../../../assets/images/card_deck/MB-200.svg');
          }

          &.ace {
            background-image: url('../../../assets/images/card_deck/MB-ace.svg');
          }

          &.crash {
            background-image: url('../../../assets/images/card_deck/MB-crash.svg');
          }

          &.emergency {
            background-image: url('../../../assets/images/card_deck/MB-emergency.svg');
          }

          &.empty {
            background-image: url('../../../assets/images/card_deck/MB-empty.svg');
          }

          &.flat {
            background-image: url('../../../assets/images/card_deck/MB-flat.svg');
          }

          &.gas {
            background-image: url('../../../assets/images/card_deck/MB-gas.svg');
          }

          &.limit {
            background-image: url('../../../assets/images/card_deck/MB-limit.svg');
          }

          &.repair {
            background-image: url('../../../assets/images/card_deck/MB-repair.svg');
          }

          &.roll {
            background-image: url('../../../assets/images/card_deck/MB-roll.svg');
          }

          &.sealant {
            background-image: url('../../../assets/images/card_deck/MB-sealant.svg');
          }

          &.spare {
            background-image: url('../../../assets/images/card_deck/MB-spare.svg');
          }

          &.stop {
            background-image: url('../../../assets/images/card_deck/MB-stop.svg');
          }

          &.tanker {
            background-image: url('../../../assets/images/card_deck/MB-tanker.svg');
          }

          &.unlimited {
            background-image: url('../../../assets/images/card_deck/MB-unlimited.svg');
          }
        }
      }
    }
  }
}
