@import '../../common/styles/vars';

.panel-heading {
  padding: 0;

  a {
    text-decoration: none;
  }

  .header {
    color: $app-txt-color;
    font-weight: bold;
    padding: 10px 15px;
  }
}

ul {
  padding: 0;

  li {
    list-style-type: none;
  }
}

.waiting-games {
  .waiting-game {
    .game-details {
      display: inline-block;
      margin-bottom: 5px;
    }

    .online-players {
      color: $online-players-color;
      display: inline-block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .btn-join {
      @include xs {
        margin: 15px 0 5px;
      }
      margin: 5px 0;
    }

    .portrait {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }

    .name {
      @include xs {
        border: 3px solid $player-name-border-color;
        font-size: 16px;
        margin: auto;
        padding: 4px 6px 0;
      }
      background: $player-name-bg-color;
      border: 2px solid $player-name-border-color;
      border-radius: 4px;
      display: inline-block;
      font-family: 'Caracteres_L2', Arial, sans-serif;
      font-size: 12px;
      height: auto;
      margin: 5px auto;
      max-width: 80%;
      overflow: hidden;
      padding: 2px 3px 0;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      width: auto;
    }

    .two-players {
      .player {
        @include xs {
          display: inline-block;
          height: 44px;
          width: 100%;
        }
        display: block;
        height: auto;
        white-space: nowrap;
        width: auto;
      }
    }

    .three-players {
      .player {
        @include xs {
          display: inline-block;
          height: 44px;
          width: 50%;
        }
        display: block;
        height: auto;
        white-space: nowrap;
        width: auto;
      }
    }

    .four-players {
      .player {
        @include xs {
          display: inline-block;
          height: 44px;
          width: 33%;
        }
        display: block;
        height: auto;
        white-space: nowrap;
        width: auto;
      }
    }
  }
}

.btn {
  @include xs {
    font-size: 14px;
  }
  font-family: 'Caracteres_L1', Arial, sans-serif;
  font-size: 12px;

  .fa-play {
    &.fa-stack-2x + .fa-stack-1x {
      color: $btn-icon-txt-color;
      font-size: 18px;
      left: -10%;
    }
  }
}

.player-name {
  color: $app-txt-color;
  font-weight: bold;
  text-align: center;
}

.avatars {
  label {
    color: $app-txt-color;
  }

  li {
    cursor: pointer;
    display: inline-block;
    margin: 10px;

    &:hover {
      background-color: $avatar-hover-color;
    }

    &.selected {
      background-color: $avatar-selected-color;
    }
  }
}

.rules {
  @include xs {
    font-size: 14px;
  }
  font-family: 'Caracteres_L4', Arial, sans-serif;
  font-size: 10px;
  margin: 0 5%;
  padding: 10px 20px !important;
  text-align: justify;

  .underline {
    text-decoration: underline;
  }

  h4 {
    @include xs {
      font-size: 16px;
    }
    background: $rules-title-bg-color;
    color: $rules-title-color;
    font-size: 12px;
    padding: 5px;
    text-align: center;
  }

  h5 {
    @include xs {
      font-size: 14px;
    }
    font-size: 10px;
    font-weight: bold;
  }

  ul {
    margin-bottom: 20px;
    margin-left: 15px;

    li {
      list-style-type: disc;
    }
  }

  ol {
    margin-bottom: 20px;
    margin-left: 15px;
  }

  .card {
    @include xs {
      background-size: 30px 41px;
      height: 41px;
      width: 30px;
    }
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 20px 27px;
    display: inline-block;
    height: 27px;
    vertical-align: middle;
    width: 20px;

    &.km25 {
      background-image: url('../../../assets/images/card_deck/MB-25.svg');
    }

    &.km50 {
      background-image: url('../../../assets/images/card_deck/MB-50.svg');
    }

    &.km75 {
      background-image: url('../../../assets/images/card_deck/MB-75.svg');
    }

    &.km100 {
      background-image: url('../../../assets/images/card_deck/MB-100.svg');
    }

    &.km200 {
      background-image: url('../../../assets/images/card_deck/MB-200.svg');
    }

    &.ace {
      background-image: url('../../../assets/images/card_deck/MB-ace.svg');
    }

    &.crash {
      background-image: url('../../../assets/images/card_deck/MB-crash.svg');
    }

    &.emergency {
      background-image: url('../../../assets/images/card_deck/MB-emergency.svg');
    }

    &.empty {
      background-image: url('../../../assets/images/card_deck/MB-empty.svg');
    }

    &.flat {
      background-image: url('../../../assets/images/card_deck/MB-flat.svg');
    }

    &.gas {
      background-image: url('../../../assets/images/card_deck/MB-gas.svg');
    }

    &.limit {
      background-image: url('../../../assets/images/card_deck/MB-limit.svg');
    }

    &.repair {
      background-image: url('../../../assets/images/card_deck/MB-repair.svg');
    }

    &.roll {
      background-image: url('../../../assets/images/card_deck/MB-roll.svg');
    }

    &.sealant {
      background-image: url('../../../assets/images/card_deck/MB-sealant.svg');
    }

    &.spare {
      background-image: url('../../../assets/images/card_deck/MB-spare.svg');
    }

    &.stop {
      background-image: url('../../../assets/images/card_deck/MB-stop.svg');
    }

    &.tanker {
      background-image: url('../../../assets/images/card_deck/MB-tanker.svg');
    }

    &.unlimited {
      background-image: url('../../../assets/images/card_deck/MB-unlimited.svg');
    }
  }
}
