<uib-accordion close-others="true">
  <div uib-accordion-group class="panel-default text-center" ng-if="$ctrl.games.length > 0 && $ctrl.hasWaitingGames()">
    <uib-accordion-heading>
      <div class="header">Rejoindre une partie existante</div>
    </uib-accordion-heading>
    <ul class="waiting-games" ng-show="$ctrl.showJoinNameInput">
      <li class="waiting-game well well-lg" ng-repeat="game in $ctrl.games track by $index">
        <span class="game-details">Partie
          <strong>{{ game.nbPlayer }} joueurs</strong> créée le
          <strong>{{ game.createdAt | amUtc | amLocal | amDateFormat:'dddd D MMMM YYYY [à] H[h]mm' }}</strong>
        </span>
        <br>
        <span class="online-players">Joueurs en ligne:</span>
        <br>
        <ul ng-class="{ 'two-players': game.nbPlayer === 2, 'three-players': game.nbPlayer === 3, 'four-players': game.nbPlayer === 4 }">
          <li class="player" ng-repeat="player in game.players">
            <span class="portrait {{player.avatar}}"></span>
            <span class="name">{{ player.name }}</span>
          </li>
        </ul>
        <label class="btn-join btn btn-primary" ng-click="$ctrl.selectGame(game)">
          Rejoindre
        </label>
      </li>
    </ul>
    <div class="well well-sm avatars" ng-hide="$ctrl.showJoinNameInput">
      <label>Sélectionnez un avatar</label>
      <ul>
        <li ng-repeat="(index, avatar) in $ctrl.avatars" ng-click="$ctrl.selectPlayerAvatar(avatar)" class="portrait {{avatar}}"
          ng-class="{ 'selected': avatar === $ctrl.playerAvatar }"></li>
      </ul>
    </div>
    <div class="input-group input-group-lg" ng-hide="$ctrl.showJoinNameInput">
      <input class="form-control player-name" placeholder="Entrez votre nom" type="text" minlength="2" maxlength="30" ng-model="playerName">
      <span class="input-group-btn">
        <a href="#" title="Confirmer" ng-click="$ctrl.joinGame(playerName)" class="btn btn-primary">
          <i class="fa fa-check"></i>
        </a>
        <a href="#" title="Annuler" ng-click="$ctrl.selectGame(null)" class="btn btn-primary">
          <i class="fa fa-times"></i>
        </a>
      </span>
    </div>
  </div>
  <div uib-accordion-group is-open="true" class="panel-default text-center" ng-if="$ctrl.games.length < $ctrl.gamesLimit">
    <uib-accordion-heading>
      <div class="header">Créer une nouvelle partie
        <span ng-show="$ctrl.nbPlayer">{{$ctrl.nbPlayer}} joueurs</span>
      </div>
    </uib-accordion-heading>
    <div class="btn-group" ng-show="$ctrl.showCreateNameInput">
      <label class="btn btn-primary" ng-click="$ctrl.selectNbPlayer($event, 2)" ng-model="radioModel" uib-btn-radio="'2 Joueurs'">
        <span class="fa-stack">
          <span class="fa fa-play fa-stack-2x"></span>
          <span class="fa-stack-1x">2</span>
        </span>
        <span>Joueurs</span>
      </label>
      <label class="btn btn-primary" ng-click="$ctrl.selectNbPlayer($event, 3)" ng-model="radioModel" uib-btn-radio="'3 Joueurs'">
        <span class="fa-stack">
          <span class="fa fa-play fa-stack-2x"></span>
          <span class="fa-stack-1x">3</span>
        </span>
        <span>Joueurs</span>
      </label>
      <label class="btn btn-primary" ng-click="$ctrl.selectNbPlayer($event, 4)" ng-model="radioModel" uib-btn-radio="'4 Joueurs'">
        <span class="fa-stack">
          <span class="fa fa-play fa-stack-2x"></span>
          <span class="fa-stack-1x">4</span>
        </span>
        <span>Joueurs</span>
      </label>
    </div>
    <div class="well well-sm avatars" ng-hide="$ctrl.showCreateNameInput">
      <label>Sélectionnez un avatar</label>
      <ul>
        <li ng-repeat="(index, avatar) in $ctrl.avatars" ng-click="$ctrl.selectPlayerAvatar(avatar)" class="portrait {{avatar}}"
          ng-class="{ 'selected': avatar === $ctrl.playerAvatar }"></li>
      </ul>
    </div>
    <div class="input-group input-group-lg" ng-hide="$ctrl.showCreateNameInput">
      <input class="form-control player-name" placeholder="Entrez votre nom" type="text" minlength="2" maxlength="30" ng-model="playerName">
      <span class="input-group-btn">
        <a href="#" title="Confirmer" ng-click="$ctrl.createGame($ctrl.nbPlayer, playerName)" class="btn btn-primary">
          <i class="fa fa-check"></i>
        </a>
        <a href="#" title="Annuler" ng-click="$ctrl.selectNbPlayer($event)" class="btn btn-primary">
          <i class="fa fa-times"></i>
        </a>
      </span>
    </div>
  </div>
  <div uib-accordion-group class="panel-default text-center">
    <uib-accordion-heading>
      <div class="header">Règles du jeu</div>
    </uib-accordion-heading>
    <div class="well well-sm rules">
      <h4>But du jeu</h4>
      Être le premier à atteindre 1000 bornes !
      <h4>Règles classiques</h4>
      <ol>
        <li>Si vous avez un Feu Vert, vous pouvez démarrer votre course. Pour cela, posez votre carte Feu Vert devant vous.
          <span class="underline">Précision :</span> la carte Feu Vert est très importante car c’est la première carte que vous devez jouer avant
          de pouvoir démarrer la course.</li>
        <li>Si vous avez une carte Borne ET que vous avez déjà devant vous une carte Feu Vert ou la botte Véhicule Prioritaire,
          vous pouvez poser votre carte Borne, et ainsi avancer dans la course !</li>
        <li>Si vous avez une carte Attaque, vous pouvez la poser sur le jeu de l’un de vos adversaires pour le retarder dans
          sa course, à condition que celui-ci ait devant lui une carte Feu Vert sur le dessus de sa pile de Bataille (ou
          la botte Véhicule Prioritaire). La Limite de Vitesse est la seule carte Attaque que vous pouvez placer devant un
          adversaire qui n’a pas encore démarré. Précision : vous pouvez attaquer un adversaire même si vous êtes vous- même
          déjà attaqué ou que vous n’avez pas encore démarré.</li>
        <li>Si vous avez subi une attaque lors du tour précédent, vous pouvez stopper cette attaque en posant par-dessus la carte
          Parade correspondante. Selon la règle originelle du Mille Bornes, en plus de la parade, vous devez poser une carte
          Feu Vert pour pouvoir redémarrer après une attaque.</li>
        <li>Si vous avez une Botte, vous pouvez la poser devant vous. Elle sert d’immunité contre une attaque bien précise. Précision
          : le fait de poser une Botte vous donne le droit de rejouer immédiatement. Piochez alors une autre carte et rejouez.</li>
        <li>Si vous ne pouvez jouer aucune carte sur votre Zone de Jeu ou sur celles de vos adversaires, jetez une de vos cartes
          dans la défausse. Il vous reste de nouveau 6 cartes en main. Votre tour de jeu est terminé et c’est maintenant
          à votre voisin de gauche de jouer. Le jeu continue ainsi jusqu’à ce que l’un d’entre vous totalise EXACTEMENT 1
          000 Bornes avec les cartes Bornes posées devant lui, ou bien dès qu’il n’y a plus de carte Bornes dans le sabot.
          <span class="underline">Précision :</span> si personne n’atteint 1 000 Bornes, le joueur qui gagne est celui qui en est le plus proche,
          sans les dépasser.
        </li>
      </ol>
      <h4>Disposition des cartes</h4>
      <ul>
        <li>
          <span class="underline">Pile de bataille:</span> La première carte posée est obligatoirement un Feu Vert. Vos adversaires posent les cartes
          Attaques et vous les cartes Parades.</li>
        <li>
          <span class="underline">Pile de vitesse:</span> C’est dans cet emplacement que vos adversaires posent leurs cartes Limite de Vitesse. Jouez
          vos cartes Fin de Limite de Vitesse à cet endroit, par-dessus la carte Limite de Vitesse.</li>
        <li>
          <span class="underline">Pile de bornes:</span> Rangez les cartes Bornes par famille pour faciliter la lecture des kilomètres atteints.</li>
        <li>
          <span class="underline">Bottes:</span> Les cartes Bottes ne se disposent pas en pile, mais côte-à-côte, de manière à ce que tous les joueurs
          puissent voir de quelles attaques vous êtes protégé.</li>
        <li>
          <span class="underline">Jeu:</span> Votre main visible uniquement par vous et composée de 7 cartes (6 cartes + 1 carte piochée à chaque
          début de tour).
        </li>
        <li>
          <span class="underline">Défausse:</span> Pile où vous rejetez une de vos cartes en cas d'impossibilité d'action.</li>
      </ul>
      <h4>Les cartes Bornes</h4>
      <ul>
        <li>
          Ces cartes vous permettent d’avancer.
          <span id="card-km25" class="card km25"></span>
          <span id="card-km50" class="card km50"></span>
          <span id="card-km75" class="card km75"></span>
          <span id="card-km100" class="card km100"></span>
          <span id="card-km200" class="card km200"></span>
          Le nombre indiqué dessus représente des Bornes (c’est-à-dire des kilomètres). Une fois la carte Borne posée sur votre Zone
          de Jeu, ce sont les kilomètres que vous avez parcourus.</li>
        <li>
          <span class="underline">Important :</span> au cours d’une partie, vous ne pouvez poser que 2 cartes '200' sur votre Zone de Jeu.</li>
        <li>
          <span class="underline">Attention :</span> pour pouvoir poser une carte Borne, il faut que vous ayez au début de la partie une carte Feu
          Vert ou la Botte Véhicule Prioritaire.</li>
      </ul>
      <h4>Les cartes Attaques et Parades</h4>
      <ul>
        <li>Si vous souhaitez ralentir un adversaire, vous pouvez jouer une carte Limite de Vitesse sur sa pile de Vitesse. La
          carte Limite de Vitesse peut se cumuler avec chacune des 4 autres attaques.</li>
        <li>Pour stopper un adversaire qui roule, vous pouvez l’attaquer. Pour cela, posez votre carte Attaque (autre que la
          carte Limite de Vitesse) sur sa pile de Bataille !</li>
        <li>Si un adversaire joue une carte Attaque sur votre pile de Bataille, vous devez jouer la carte Parade correspondante,
          avant de pouvoir à nouveau jouer une carte Borne et avancer.</li>
        <li>Précision : un joueur ne peut pas être attaqué simultanément avec 2 attaques sur sa pile de Bataille. En revanche,
          il peut être à la fois victime d’une Attaque sur sa pile de Bataille et d’une Limite de Vitesse sur sa pile de
          Vitesse !</li>
        <h5>Cartes</h5>
        <ul>
          <li>
            <span class="underline">Limite de vitesse:</span>
            <span id="card-limit" class="card limit"></span>
            <span id="card-unlimited" class="card unlimited"></span>
            Cette carte se place sur la pile de Vitesse d’un adversaire. Elle l’empêche de poser des cartes Bornes supérieures à 50 km,
            jusqu’à ce qu’il recouvre cette attaque d’une carte Fin de Limite de Vitesse.</li>
          <li>
            <span class="underline">Feu rouge:</span>
            <span id="card-stop" class="card stop"></span>
            <span id="card-roll" class="card roll"></span>
            Cette carte se place sur la pile de Bataille d’un adversaire qui roule. Elle l’empêche de poser de nouvelles cartes Bornes,
            jusqu’à ce qu’il recouvre cette attaque d’une carte Feu Vert.</li>
          <li>
            <span class="underline">Accident:</span>
            <span id="card-crash" class="card crash"></span>
            <span id="card-repair" class="card repair"></span>
            Cette carte se place sur la pile de Bataille d’un adversaire qui roule. Elle l’empêche de poser de nouvelles cartes Bornes,
            jusqu’à ce qu’il recouvre cette attaque d’une carte Réparations.</li>
          <li>
            <span class="underline">Crevaison:</span>
            <span id="card-flat" class="card flat"></span>
            <span id="card-spare" class="card spare"></span>
            Cette carte se place sur la pile de Bataille d’un adversaire qui roule. Elle l’empêche de poser de nouvelles cartes Bornes,
            jusqu’à ce qu’il recouvre cette attaque d’une carte Roue de Secours.</li>
          <li>
            <span class="underline">Panne d'essence:</span>
            <span id="card-empty" class="card empty"></span>
            <span id="card-gas" class="card gas"></span>
            Cette carte se place sur la pile de Bataille d’un adversaire qui roule. Elle l’empêche de poser de nouvelles cartes Bornes,
            jusqu’à ce qu’il recouvre cette attaque d’une carte Essence.</li>
        </ul>
      </ul>
      <h4>Les Bottes</h4>
      <ul>
        <li>Les cartes Bottes sont une immunité contre les attaques qui leur sont associées, pendant toute la durée du jeu.</li>
        <li>Jouez une carte Botte pour empêcher vos adversaires de vous attaquer avec une attaque spécifi que durant toute la
          durée du jeu.</li>
        <li>S’il y a une carte Attaque sur votre pile de Bataille et que vous jouez la carte Botte correspondante, la Botte annule
          immédiatement l’effet de l’attaque.</li>
        <li>Lorsque vous jouez une carte Botte, vous pouvez rejouer immédiatement.</li>
        <h5>Cartes</h5>
        <ul>
          <li>
            <span class="underline">Increvable:</span>
            <span id="card-sealant" class="card sealant"></span>
            Une fois que vous avez posé cette Botte, vos adversaires ne peuvent plus vous attaquer avec une carte Crevaison.
          </li>
          <li>
            <span class="underline">Citerne d’Essence:</span>
            <span id="card-tanker" class="card tanker"></span>
            Une fois que vous avez posé cette Botte, vos adversaires ne peuvent plus vous attaquer avec une carte Panne d’Essence.
          </li>
          <li>
            <span class="underline">As du Volant:</span>
            <span id="card-ace" class="card ace"></span>
            Une fois que vous avez posé cette Botte, vos adversaires ne peuvent plus vous attaquer avec une carte Accident.
          </li>
          <li>
            <span class="underline">Véhicule Prioritaire:</span>
            <span id="card-emergency" class="card emergency"></span>
            La carte Véhicule Prioritaire est la carte la plus puissante du jeu ! Une fois que vous avez posé cette Botte, vos adversaires
            ne peuvent plus vous attaquer avec une carte Feu Rouge ni avec une carte Limite de Vitesse. Précision : si vous
            exposez cette carte au début de la partie, vous êtes dispensé de poser un Feu Vert pour démarrer.</li>
        </ul>
      </ul>
      <h4>Le Coup-Fourré</h4>
      <ul>
        <li>Il consiste à exposer une Botte aussitôt qu’un adversaire place dans votre jeu l’attaque correspondante, et ce, même
          si ce n’est pas à votre tour de jouer.</li>
        <li>
          <span class="underline">Exemple :</span> un adversaire place une Crevaison sur votre pile de Bataille, et vous avez justement parmi vos
          6 cartes la botte Increvable ; vous l’abattez immédiatement en annonçant 'Coup-Fourré !'</li>
      </ul>
      <ol>
        Le Coup-Fourré vous donne 3 avantages :
        <li>Rejeter dans la défausse l’attaque que vous venez ainsi d’annuler.</li>
        <li>Prendre dans le sabot une carte pour compléter votre main - car vous venez d’exposer subitement une carte, sans avoir
          préalablement pioché de carte au sabot.
        </li>
        <li>Rejouer immédiatement, c’est-à-dire prendre encore une carte dans le sabot et jouer comme si c’était votre tour.
          Après cela, à votre voisin de gauche de jouer. Si des joueurs se trouvent placés entre celui qui vous a attaqué
          et vous-même, ils perdent donc leur tour.</li>
      </ol>
      <ul>
        <li>
          <span class="underline">Remarque :</span> la Botte exposée vous immunise contre les attaques correspondantes pour le reste de la partie.</li>
      </ul>
    </div>
  </div>
</uib-accordion>